/* LADO ESQUERDO */


.esquerdo {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 100%;
    justify-content: center;
    align-items: center;
}




.esquerdoCima {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}




.esquerdoBaixo {
    position: relative;
    display: flex;
    width: 100%;
    height: 60%;
    justify-content: center;
    align-items: flex-end;
   
}


.primeiroLugar {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 90%;
    background-color: var(--cor2);
    border-radius: 20px 20px 0px 0px;
    overflow-y: auto;
    overflow-x: hidden;


}




/* COROA */


.coroa{
    position: relative;
    width: 100%;
    height: 100%;
}


/* LADO DIREITO */


.direito {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 100%;  
    justify-content: center;
    align-items: center;
}




.direitoMid {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 75%;
    border-radius: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--cor2);
   
}


.direitoTop{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 85%;
    height: 15%;
    border-radius: 20px;
    background-color: var(--cor3);
    font-size: 16px;
    justify-content: space-around;
    align-items: center;
    transform: translateY(30%);
}


.linhaPlayer{


    border: 3px solid var(--cor3);
    height: 90px;
    min-height: 90px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


}


.tRank{
    justify-content: center;
    align-items: center;
    text-align: center;
    place-items: center;
    vertical-align: middle;
    height: 80%;
    font-size: 32px;
    font-family: 'font2';
   
}
.posicaoRank{
    width: 10%;
    background-color: white;
    border-radius: 20px;
}


.usuarioRank{
    width: 50%;


}


.pontosRank{
    width: 30%;
    background-color: white;
    border-radius: 20px;
}


.pe{
    color: var(--cor4);
    text-align: center;
    font-size: 30px;
    font-family: 'font2';
}


.pe2 {
    color: var(--cor5);
}
