.esquerdo {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 100%;
}


.direito {
    position: relative;
    display: flex;
    width: 70vw;
    height: 100%;  
    justify-content: center;
    align-items: center;
}


.esquerdoCima {
    position: relative;
    display: flex;
    width: 100%;
    height: 60%;
    justify-content: center;
    align-items: center;
}


.esquerdoBaixo {
    position: relative;
    display: flex;
    width: 100%;
    height: 40%;
    justify-content: center;
    align-items: flex-end;
}

.primeiroLugar {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 90%;
    background-color: var(--cor2);
    border-radius: 20px 20px 0px 0px;


}


.imagemPrimeiro {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 320px;
    /* Sem cor */
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    overflow: visible;
}


/* COROA */

.coroa{
    overflow: visible;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(300px);
}

/* LADO DIREITO */

.direitoMid {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 85%;
    border-radius: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--cor2);
}


.linhaPlayer{
    background-color: var(--cor1);
    border-radius: 20px;
    margin-bottom: 5px;
    width: 100%;
    height: 120px;
    min-height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid var(--cor4);
    font-size: 20px;
    font-family: 'font2';
}

.dRank{
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 65%;
    border-radius: 10px;
   
}
.posicaoRank{
    width: 10%;
    background-color: aqua;
}

.usuarioRank{
    width: 40%;
    background-color: gold;
}

.pontosRank{
    width: 30%;
    background-color: cadetblue;
}