
.caixaDados{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 85%;
  background-color: var(--cor2);
  border-radius: 20px;
}

.h1Dados{
  color: var(--cor1);
  font-size: 45px;
}

.h2Dados{
  color: var(--cor0);
  font-size: 20px;
}

.pDados{
  align-self: flex-start;
  margin-left: 20px;
}

.seguir{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  width: 350px;
  height: 40px;
  margin: 20px 0px;
  background-color: var(--cor0);
}