
:root{
    --cor0: #B8B6AB;
    --cor1: #9E896F; 
    --cor2: #652224;
    --cor3: #362E24;
    --cor4: #0D0D0D;
    --cor5: #ffffff;
}

.proximo{
    position: fixed;
    top: 15px;
    right: 15px;
    background-color: var(--cor2);
    height: 40px;
    width: 100px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    z-index: 2;
}

.h1Pergunta{
    color: var(--cor0);
    font-size: 50px;
}

#pergunta{
    background-color: var(--cor0);
}