
.sair{
    position: fixed;
    top: 15px;
    left: 15px;
    background-color: var(--cor2);
    height: 40px;
    width: 100px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    z-index: 2;
}
 

/* PODIO */
.h1Sala{
    font-size: 60px;
    margin-bottom: 10px;
}

.podio{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 85%;
    border-radius: 20px;
    background-color: var(--cor5);
}

/* PERGUNTA */
.pergunta{
    position: relative;
    display: flex;
    width: 90%;
    height: 90%;
    border-radius: 20px;
    background-color: var(--cor2);
}