
.pergunta{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 90%;
    border-radius: 20px;
    background-color: var(--cor2);
    overflow-y: hidden;
    overflow-x: hidden;
}

.perguntaTxt{
    color:  var(--cor5);
    margin: 30px 0px;
}

.opcoesResposta {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    height: 70%;
}

.linha{
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 80%;
}

.opcao{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: var(--cor5);
    border-radius: 20px;  
    cursor: pointer;
}

.opcao:hover{
    transition: .4s;
    background-color: var(--cor3);
}

.opcaoTxt{
    font-family: 'font2';
    font-size: 1.5vw;
    color: var(--cor2);
    text-align: center;
}

/*CLIQUE*/

.selecao{
    position: absolute;
    display: flex;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.354);
    border-radius: 20px;
    justify-content: center;
    align-items: end;
}

.pSelecao{
    position: relative;
    bottom: 15px;
}

/* FIM RODADA */

.resultados{
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: var(--cor2);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.topResultados{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 48%;
    justify-content: space-evenly;
    align-items: center;
}

.h1Resultados{
    color: var(--cor5);
    font-size: 40px;
}

.h2Resultados{
    color: var(--cor5);
    background-color: var(--cor3);
    width: 750px;
    font-size: 28px;
    text-align: center;
    border-radius: 20px;
}

.h3Resultados{
    font-family: 'font2';
    color: var(--cor5);
    font-size: 25px;
}

.fecharResultados{
    position: absolute;
    cursor: pointer;
    background-color: var(--cor5);
    height: 40px;
    width: 60px;
    border: none;
    border-radius: 10px;
    z-index: 3;
    transition: .4s;
    right: 25px;
    top: 20px;
}

.fecharResultados:hover{
    transition: .4s;
    background-color: var(--cor3);
}

.midResultados{
    position: relative;
    display: flex;
    width: 100%;
    height: 26%;
    justify-content: space-evenly;
    align-items: center;
}